/* footer 부분 */
.footer{
    width: 960px;   
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_nav{
    width: 960px;
    height: 25px;
    line-height: 25px;
    text-align: right;          
    /*background-color: blue; /* 지울부분 */
}
.footer_nav>a{
    display: inline-block;
    padding: 0px 10px;
    font-size: 0.8rem;
}
.addr{
    width: 960px;
    margin-bottom: 20px;
   /*  background-color: blue; /* 지울부분 */
}
.addr li{
    height: 20px;
    line-height: 20px;
    text-align: left; 
    margin-left: 30px;
    font-size: 0.8rem;
   /*background-color: blue; /* 지울부분 */
}